<script>
  $(document).ready(function () {
    console.log('Initialize');
    LoadTable();

    function LoadTable() {
      $("#master_admin-table").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 400,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/admin/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            console.log(data);
            $.each(data, (key, item) => {
              var action = "";
              var action = item.action;

              action = `
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editadmin">Edit</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#idModal">Generate ID</button>`;
              finalData.push({
                id: item.id,
                name: item.name,
                username: item.username,
                password: item.password,
                email: item.email,
                contact: item.contact,
                position: item.position,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "id" },
          { data: "name" },
          { data: "username" },
          { data: "password" },
          { data: "email" },
          { data: "contact" },
          { data: "position" },
          { data: "action" },
        ],
        initComplete: function () {
          console.log('Done');
        },
      });
    }

    var exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      var recipient = button.getAttribute('data-bs-whatever')
      // If necessary, you could initiate an AJAX request here
      // and then do the updating in a callback.
      //
      // Update the modal's content.
      var modalTitle = exampleModal.querySelector('.modal-title')
      var modalBodyInput = exampleModal.querySelector('.modal-body input')

      modalTitle.textContent = 'Create new Admin '
      modalBodyInput.value = recipient
    })

    var idModal = document.getElementById('idModal')
    idModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      var recipient = button.getAttribute('data-bs-whatever')
      // If necessary, you could initiate an AJAX request here
      // and then do the updating in a callback.
      //
      // Update the modal's content.
      var modalTitle = idModal.querySelector('.modal-title')
      var modalBodyInput = idModal.querySelector('.modal-body input')

      modalTitle.textContent = 'Generate ID '
      modalBodyInput.value = recipient
    })

    var edit = document.getElementById('edit')
    edit.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      var recipient = button.getAttribute('data-bs-whatever')
      // If necessary, you could initiate an AJAX request here
      // and then do the updating in a callback.
      //
      // Update the modal's content.
      var modalTitle = edit.querySelector('.modal-title')
      var modalBodyInput = edit.querySelector('.modal-body input')

      modalTitle.textContent = 'Edit Profile'
      modalBodyInput.value = recipient
    })


    function validateForm() {
      //collect form data in JavaScript variables
      var pw1 = document.getElementById("password1").value;
      var pw2 = document.getElementById("password2").value;

      //check empty first name field
      if (name1 == "") {
        document.getElementById("blankMsg").innerHTML = "**Fill the first name";
        return false;
      }

      //character data validation
      if (!isNaN(name1)) {
        document.getElementById("blankMsg").innerHTML = "**Only characters are allowed";
        return false;
      }

      //character data validation
      if (!isNaN(name2)) {
        document.getElementById("charMsg").innerHTML = "**Only characters are allowed";
        return false;
      }

      //check empty password field
      if (pw1 == "") {
        document.getElementById("message1").innerHTML = "**Fill the password please!";
        return false;
      }

      //check empty confirm password field
      if (pw2 == "") {
        document.getElementById("message2").innerHTML = "**Enter the password please!";
        return false;
      }

      //minimum password length validation
      if (pw1.length < 8) {
        document.getElementById("message1").innerHTML = "**Password length must be atleast 8 characters";
        return false;
      }

      //maximum length of password validation
      if (pw1.length > 15) {
        document.getElementById("message1").innerHTML = "**Password length must not exceed 15 characters";
        return false;
      }

      if (pw1 != pw2) {
        document.getElementById("message2").innerHTML = "**Passwords are not same";
        return false;
      } else {
        alert("Your password created successfully");
        document.write("JavaScript form has been submitted successfully");
      }
    }

    $(document).on("click", "#addadminbtn", function () {
      let name = $("#adminname").val();
      let username = $("#adminusername").val();
      let password = $("#adminpassword").val();
      let email = $("#adminemail").val();
      let contact = $("#admincontact").val();
      let position = $("#adminposition").val();
      let profile = $("#adminprofile").val();
      let qr = $("#adminqr").val();

      var message = "";

      if (name == "") {
        message += " NAME ";
      }

      if (username == "") {
        message += "USERNAME ";
      }

      if (password == "") {
        message += "PASSWORD ";
      }

      if (email == "") {
        message += "EMAIL ";
      }

      if (contact == "") {
        message += "CONTACT ";
      }

      if (position == "") {
        message += "POSITION ";
      }

      if (profile == "") {
        message += "PROFILE ";
      }

      if (qr == "") {
        message += "QR ";
      }
      else {
        $.ajax({
          type: "POST",
          url: "/admin/save",
          data: {
            name: name,
            username: username,
            password: password,
            email: email,
            contact: contact,
            position: position,
            profile: profile,
            qr: qr,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Saved Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              })
              .then(results => {
              window.location.reload();
              })
              LoadTable();
            }
            else {
              swal({
                title: "Exist",
                text: "Data already exists!",
                icon: "warning",
                button: "OK!",
              });
            }

          },
          error: function (err) {
            swal("Data already exist!", "You clicked the button!", "warning");
          },
        });
      }
    });
  });

  $(document).ready(function () {
      $(document).on('click','#master_admin-table tbody tr',function() {
        $("#editadmin").modal("show");
        var id=$(this).find('td:eq(0)').text();
        var name=$(this).find('td:eq(1)').text();
        var username=$(this).find('td:eq(2)').text();
        var password=$(this).find('td:eq(3)').text();
        var email=$(this).find('td:eq(4)').text();
        var contact=$(this).find('td:eq(5)').text();
        var position=$(this).find('td:eq(6)').text();
        var profile=$(this).find('td:eq(7)').text();
        var qr=$(this).find('td:eq(8)').text();
        
        $('#amodalid').val(id);
        $('#amodalname').val(name);
        $('#amodalusername').val(username);
        $('#amodalpassword').val(password);
        $('#amodalemail').val(email);
        $('#amodalcontact').val(contact);
        $('#amodalposition').val(position);
        $('#amodalprofile').val(profile);
        $('#amodalqr').val(qr);
      })
    })

</script>