<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addadmin" style="margin-top: 30px; margin-left: 100px; height: 60px; width: 150px; font-size: larger;">+ Create New</button>
<div class="card-body">
<table id="master_admin-table" class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Position</th>
            <th>Action</th>
        </tr>
    </thead>                            
</table>
</div>
<!-- Create new admin -->
<div class="modal fade" id="addadmin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="form-label">Name</label>
            <input type="text" class="form-control mb-1"  name="adminname" id="adminname" required>
        </div>
        <div class="form-group">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" name='adminusername' id="adminusername" required>
        </div>
        <div class="form-group">
            <label class="form-label">Password</label>
            <input type="password" class="form-control mb-1" name="adminpassword" id="adminpassword" required>
        </div>
        <div class="form-group">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" name="adminemail" id="email" required>
        </div>
        <div class="form-group">
            <label class="form-label">Contact</label>
            <input type="text" class="form-control" name="admincontact" id="admincontact" required>
        </div>
        <div class="form-group">
          <label class="form-label">Position</label>
          <input type="text" class="form-control" name="adminposition" id="adminposition" required>
        </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Profile Picture:</label>
            <input type="file" class="form-control" id="adminprofile" name="adminprofile">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">QR Code:</label>
            <input type="file" class="form-control" id="adminqr" name="adminqr">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button"  name="addadminbtn" id="addadminbtn" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- Generate ID -->
<div class="modal fade" id="idModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <center>
          <form>
                    <div class="padding">
                        <div class="font">
                            <div class="top">
                                <img src="/images/img/dp.jpg">
                            </div>
                            <div class="bottom">
                                <p>Mark Anasarias</p>
                                <div class="barcode">
                                    <img src="/images/img/QR_Code (12).png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <h1 class="Details">information</h1>
                        <hr class="hr">
                        <div class="details-info">
                            <p><b>Email : </b></p>
                            <p>markanasarias6@gmail.com</p>
                            <p><b>Mobile No: </b></p>
                            <p>09205844176</p>
                            <p><b>Office Address:</b></p>
                            <p>Calendola</p>
                            </div>
                    
                        </div>
                    </div>
                </div>
          </form>
        </center>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Print</button>
        </div>
      </div>
    </div>
  </div>
<!-- Update Admin -->
  <div class="modal fade" id="editadmin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label class="form-label">ID</label>
              <input type="text" class="form-control mb-1"  name="amodalid" id="amodalid" readonly>
          </div>
            <div class="form-group">
              <label class="form-label">Name</label>
              <input type="text" class="form-control mb-1"  name="amodalname" id="amodalname" required>
          </div>
          <div class="form-group">
              <label class="form-label">Username</label>
              <input type="text" class="form-control" name='amodalusername' id="amodalusername" required>
          </div>
          <div class="form-group">
              <label class="form-label">Password</label>
              <input type="password" class="form-control mb-1" name="amodalpassword" id="amodalpassword" required>
          </div>
          <div class="form-group">
              <label class="form-label">Email</label>
              <input type="text" class="form-control" name="amodalemail" id="amodalemail" required>
          </div>
          <div class="form-group">
              <label class="form-label">Contact</label>
              <input type="text" class="form-control" name="amodalcontact" id="amodalcontact" required>
          </div>
          <div class="form-group">
            <label class="form-label">Position</label>
            <input type="text" class="form-control" name="amodalposition" id="amodalposition" required>
        </div>
                <br>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Profile Picture:</label>
              <input type="file" class="form-control" id="amodalprofile" name="amodalprofile">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">QR Code:</label>
              <input type="file" class="form-control" id="amodalqr" name="amodalqr">
            </div>
            
          </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button"  name="btnadminupdate" id="btnadminupdate" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
  
  

