<center><h2>ATTENDANCE MONITORING SYSTEM</h2></center>
<div class="row">
  <div class="col">
    <div style="width:700px; margin-left:300px; margin-top:50px;" id="reader"></div>
  </div><audio id="myAudio1">
  <source src="success.mp3" type="audio/ogg">
</audio>
<audio id="myAudio2">
  <source src="failes.mp3" type="audio/ogg">
</audio>

  <div class="col" style="padding:30px; margin-top: 5px; font-size: 40px;">
    <h4>SCAN RESULT</h4>
     <input type="text" name="start" class="input" id="result" onkeyup="showHint(this.value)" placeholder="result here" readonly="" /></form>
     <p>Status: <span id="txtHint"></span></p>
  </div>
</div>

<style>
    .result{
      background-color: green;
      color:#fff;
      padding:20px;
    }
    .row{
      display:flex;
    }
    h4{
    font-size: 40px;
  }
  input[type=text] {
    height: 50px;
    width: 200%;
  }
  h2{
    font-size: 50px;
    margin-top:50px;
  
  }
  </style>