<div class="card-body">
<table id="master_logs-table"  class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Name</th>
        </tr>
    </thead>                  
</table>
</div>