<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-top: 30px; margin-left: 100px; height: 60px; width: 150px; font-size: larger;">+ Create new</button>
<div class="card-body">
<table class="table table-hover" id="master_event-table" name="master_event-table">
    <colgroup>
      <col width="5%">
	<col width="25%">
    <col width="20%">
    <col width="30%">
	<col width="15%">
    </colgroup>
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
         <tbody>
          </tbody>                       
</table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Event</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label class="form-label">Date</label>
              <input type="date" class="form-control mb-1"  name="date" id="date" required>
          </div>
          <div class="form-group">
              <label class="form-label">Title</label>
              <input type="text" class="form-control" name='title' id="title" required>
          </div>
          <div class="form-group">
              <label class="form-label">Description</label>
              <input type="text" class="form-control mb-1" name="description" id="description" required>
          </div>
          </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" name="btnsaveevent" id="btnsaveevent" class="btn btn-primary" >Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Event</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Date:</label>
              <input type="text" class="form-control" id="emodalid" name="emodalid" readonly>
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Date:</label>
              <input type="text" class="form-control" id="emodaldate" name="emodaldate">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Title:</label>
              <input type="text" class="form-control" id="emodaltitle" name="emodaltitle">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Description:</label>
              <input type="text" class="form-control" id="emodaldescription" name="emodaldescription">
            </div>   
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="editsavebtn" name="editsavebtn">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="smsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Event</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Date:</label>
              <input type="text" name="idmodal" id="idmodal">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Date:</label>
              <input type="text" class="form-control" id="datemodal" name="datemdal">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Title:</label>
              <input type="text" class="form-control" id="titlemodal" name="titlemodal">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Description:</label>
              <input type="text" class="form-control" id="descriptionmodal"  name="descriptionmodal" style="height: 200px;">
            </div>   
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  </div>