<script>
    var exampleModal = document.getElementById('exampleModal')
exampleModal.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var recipient = button.getAttribute('data-bs-whatever')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  var modalTitle = exampleModal.querySelector('.modal-title')
  var modalBodyInput = exampleModal.querySelector('.modal-body input')

  modalTitle.textContent = 'Add Member '
  modalBodyInput.value = recipient
})

var editmember = document.getElementById('editmember')
editmember.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var recipient = button.getAttribute('data-bs-whatever')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  var modalTitle = edit.querySelector('.modal-title')
  var modalBodyInput = edit.querySelector('.modal-body input')

  modalTitle.textContent = 'Edit Profile'
  modalBodyInput.value = recipient
})

$(document).ready(function(){
        console.log('Initialize');
        LoadTable();
  
        function LoadTable() {
            $("#master_users-table").DataTable({
              destroy: true,
              processing: true,
              serverSide: true,
              paging: false,
              searching: false,
              info: false,
              scrollY: 400,
              scrollCollapse: true,
              serverMethod: "GET",
              ajax: {
                url: "/member/load",
                dataSrc: (json) => {
                  var finalData = [];
                  var data = json.data;
      
                  console.log(data);
                  $.each(data, (key, item) => {
                    var action = "";
                    var action = item.action;

                    action = `
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editmember">Edit</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#idModal">Generate ID</button>`;
                  
                    finalData.push({
                      id: item.id,
                      name: item.name,
                      age: item.age,
                      birthday: item.birthday,
                      gender: item.gender,
                      address: item.address,
                      contact: item.contact,
                      email: item.email,
                      status: item.status,
                      action: action,
                    }); 
                  });
      
                  return finalData;
                },
              },
              columnDefs: [
                {
                  targets: 1,
                  className: "td-indent",
                },
              ],
              columns: [
              { data: "id" },
              { data: "name" },
              { data: "age" },
              { data: "birthday" },
              { data: "gender" },
              { data: "address" },
              { data: "contact" },
              { data: "email" },
              { data: "status" },
              { data: "action" },
              ],
              initComplete: function () {
                console.log('Done');
              },
            });
          }
      
    });

    $(document).on("click", "#btnsavemember", function () {
      let name = $("#name").val();
      let age = $("#age").val();
      let birthday = $("#birthday").val();
      let gender = $("#gender").val();
      let address = $("#address").val();
      let contact = $("#contact").val();
      let email = $("#email").val();
      let profile = $("#profile").val();
      let qr = $("#qr").val();

      var message = "";

      if (name == "") {
        message += " NAME ";
      }

      if (age == "") {
        message += "AGE ";
      }

      if (birthday == "") {
        message += "BIRTHDAY ";
      }

      if (gender == "") {
        message += "GENDER ";
      }

      if (address == "") {
        message += "ADDRESS ";
      }

      if (contact == "") {
        message += "CONTACT ";
      }

      if (email == "") {
        message += "EMAIL ";
      }

      if (profile == "") {
        message += "PROFILE ";
      }

      if (qr == "") {
        message += "QR ";
      }
      else {
        $.ajax({
          type: "POST",
          url: "/member/save",
          data: {
            name: name,
            age: age,
            birthday: birthday,
            gender: gender,
            address: address,
            contact: contact,
            email: email,
            profile: profile,
            qr: qr,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Saved Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              })
              .then(results => {
              window.location.reload();
              })
              LoadTable();
            }
            else {
              swal({
                title: "Exist",
                text: "Data already exists!",
                icon: "warning",
                button: "OK!",
              });
            }

          },
          error: function (err) {
            swal("Data already exist!", "You clicked the button!", "warning");
          },
        });
      }
    });

    $(document).ready(function () {
      $(document).on('click','#master_users-table tbody tr',function() {
        $("#editmember").modal("show");
        var id=$(this).find('td:eq(0)').text();
        var name=$(this).find('td:eq(1)').text();
        var age=$(this).find('td:eq(2)').text();
        var birthday=$(this).find('td:eq(3)').text();
        var gender=$(this).find('td:eq(4)').text();
        var address=$(this).find('td:eq(5)').text();
        var contact=$(this).find('td:eq(6)').text();
        var email=$(this).find('td:eq(7)').text();
        var status=$(this).find('td:eq(8)').text();
        var profile=$(this).find('td:eq(9)').text();
        var qr=$(this).find('td:eq(10)').text();
        
        $('#mmodalid').val(id);
        $('#mmodalname').val(name);
        $('#mmodalage').val(age);
        $('#mmodalbirthday').val(birthday);
        $('#mmodalgender').val(gender);
        $('#mmodaladdress').val(address);
        $('#mmodalcontact').val(contact);
        $('#mmodalemail').val(email);
        $('#mmodalstatus').val(status);
        $('#mmodalprofile').val(profile);
        $('#mmodalqr').val(qr);
      })
    })
    $(document).on("click", "#btnupdatemember", function () {
      let id = $("#mmodalid").val();
      let name= $("#mmodalname").val();
      let age = $("#mmodalage").val();
      let birthday = $("#mmodalbirthday").val();
      let gender = $("#mmodalgender").val();
      let address = $("#mmodaladdress").val();
      let contact = $("#mmodalcontact").val();
      let email = $("#mmodalemail").val();
      let status = $("#mmodalstatus").val();
      let profile = $("#mmodalprofile").val();
      let qr = $("#mmodalqr").val();

      var message = "";

      if (name == "") {
        message += " NAME ";
      }

      if (age == "") {
        message += "AGE ";
      }

      if (birthday == "") {
        message += "BIRTHDAY ";
      }

      if (gender == "") {
        message += "GENDER ";
      }

      if (address == "") {
        message += "ADDRESS ";
      }

      if (contact == "") {
        message += "CONTACT ";
      }

      if (email == "") {
        message += "EMAIL ";
      }

      if (profile == "") {
        message += "PROFILE ";
      }

      if (qr == "") {
        message += "QR ";
      }
       else {
        $.ajax({
          type: "POST",
          url: "/member/update",
          data: {
            id: id,
            name: name,
            age: age,
            birthday: birthday,
            gender: gender,
            address: address,
            contact: contact,
            email: email,
            status: status,
            profile: profile,
            qr: qr,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Saved Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              })
              .then(results => {
              window.location.reload();
              })
              LoadTable();
              
            }
          },
          error: function (err) {
            swal("Error!", "You clicked the button!", "warning");
          },
        });
      }

    });


    function LoadTable() {
      $("#cablingmaterial-dataTable").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 400,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/cablingmaterial/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            console.log(data);
            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              if (status == "ACTIVE") {
                action =
                  '<button id="inactiveBtn" class="btn btn-outline-primary" name="inactiveBtn">INACTIVE</button>';
              }
              if (status == "INACTIVE") {
                action =
                  '<button id="activeBtn" class="btn btn-outline-primary" name="activeBtn">ACTIVE</button>';
              }

              finalData.push({
                itemcode: item.itemcode,
                brand: item.itembrand,
                description: item.itemdescription,
                stocks: item.stocks,
                updatestocks: item.updatestocks,
                updateby: item.updateby,
                updatedate: item.updatedate,
                status: item.status,
                createdby: item.createdby,
                createddate: item.createddate,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "itemcode" },
          { data: "brand" },
          { data: "description" },
          { data: "stocks" },
          { data: "updatestocks" },
          { data: "updateby" },
          { data: "updatedate" },
          { data: "status" },
          { data: "createdby" },
          { data: "createddate" },
          { data: "action" },
        ],
        initComplete: function () {},
      });
    }

    </script>