<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-top: 30px; margin-left: 100px; height: 60px; width: 150px; font-size: larger;">+ Create New</button>
<div class="card-body">
<table id="master_users-table" class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Birthday</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>                    
  </table>
  </section>
</div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label class="form-label">Name</label>
              <input type="text" class="form-control mb-1"  name="name" id="name" required>
            </div>
            <br>
            <div class="form-group">
              <label class="form-label">Age</label>
              <input type="text" class="form-control mb-1"  name="age" id="age" required>
            </div>
            <br>
            <div class="form-group">
              <label class="form-label">Birthday</label>
              <input type="date" class="form-control mb-1"  name="birthday" id="birthday" required>
            </div>
            <br>
            <div class="form-group">
              <label class="form-label">Gender</Address></label>
              <input type="text" class="form-control mb-1"  name="gender" id="gender" required>
          </div>
            <br>
            <div class="form-group">
              <label class="form-label">Address</Address></label>
              <input type="text" class="form-control mb-1"  name="address" id="address" required>
          </div>
            <br>
            <div class="form-group">
              <label class="form-label">Contact</label>
              <input type="text" class="form-control mb-1"  name="contact" id="contact" required>
          </div>
            <br>
            <div class="form-group">
              <label class="form-label">Email</label>
              <input type="text" class="form-control mb-1"  name="email" id="email" required>
          </div>
          <div class="form-group">
            <label class="form-label">Email</label>
            <input type="text" class="form-control mb-1"  name="status" id="status">
            </div>
            <br>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Profile Picture:</label>
              <input type="file" class="form-control" id="profile">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">QR Code:</label>
              <input type="file" class="form-control" id="qr">
            </div>
            
          </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" name="btnsavemember" id="btnsavemember">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="idModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <center>
          <form>
                    <div class="padding">
                        <div class="font">
                            <div class="top">
                                <img src="/images/img/dp.jpg">
                            </div>
                            <div class="bottom">
                                <p>Mark Anasarias</p>
                                <div class="barcode">
                                    <img src="/images/img/QR_Code (12).png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <h1 class="Details">information</h1>
                        <hr class="hr">
                        <div class="details-info">
                            <p><b>Email : </b></p>
                            <p>markanasarias6@gmail.com</p>
                            <p><b>Mobile No: </b></p>
                            <p>09205844176</p>
                            <p><b>Office Address:</b></p>
                            <p>Calendola</p>
                            </div>
                    
                        </div>
                    </div>
                </div>
          </form>
        </center>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button onclick="window.print()">Print</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editmember" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit member</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label class="form-label">id</label>
              <input type="text" class="form-control mb-1"  name="mmodalid" id="mmodalid" readonly>
            </div>
            <div class="form-group">
              <label class="form-label">Name</label>
              <input type="text" class="form-control mb-1"  name="mmodalname" id="mmodalname" required>
            </div>
            <br>
            <div class="form-group">
              <label class="form-label">Age</label>
              <input type="text" class="form-control mb-1"  name="mmodalage" id="mmodalage" required>
            </div>
            <br>
            <div class="form-group">
              <label class="form-label">Birthday</label>
              <input type="date" class="form-control mb-1"  name="mmodalbirthday" id="mmodalbirthday" required>
            </div>
            <br>
            <div class="form-group">
              <label class="form-label">Gender</Address></label>
              <input type="text" class="form-control mb-1"  name="mmodalgender" id="mmodalgender" required>
          </div>
            <br>
            <div class="form-group">
              <label class="form-label">Address</Address></label>
              <input type="text" class="form-control mb-1"  name="mmodaladdress" id="mmodaladdress" required>
          </div>
            <br>
            <div class="form-group">
              <label class="form-label">Contact</label>
              <input type="text" class="form-control mb-1"  name="mmodalcontact" id="mmodalcontact" required>
          </div>
            <br>
            <div class="form-group">
              <label class="form-label">Email</label>
              <input type="text" class="form-control mb-1"  name="mmodalemail" id="mmodalemail" required>
          </div>
          <div class="form-group">
            <label class="form-label">STATUS</label>
            <input type="text" class="form-control mb-1"  name="mmodalstatus" id="mmodalstatus">
            </div>
            <br>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Profile Picture:</label>
              <input type="file" class="form-control" id="mmodalprofile" name="mmodalprofile">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">QR Code:</label>
              <input type="file" class="form-control" id="mmodalqr" name="mmodalqr">
            </div>
            
          </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" name="btnupdatemember" id="btnupdatemember">Save</button>
        </div>
      </div>
    </div>
  </div>
  
