.home-section nav .search-box{
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
  }
  nav .search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
  }
  nav .search-box .bx-search{
    position: absolute;
    height: 40px;
    width: 40px;
    background: #2697FF;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
  }
  .home-section nav .profile-details{
    display: flex;
    align-items: center;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
  }
  nav .profile-details img{
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
  }
  nav .profile-details .admin_name{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
  }
  nav .profile-details i{
    font-size: 25px;
    color: #333;
  }
  .home-section .home-content{
    position: relative;
    padding-top: 104px;
  }
  .home-content .overview-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
  }
  .overview-boxes .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 15px);
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  .overview-boxes .box-topic{
    font-size: 20px;
    font-weight: 500;
  }
  .home-content .box .number{
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
  }
  .home-content .box .indicator{
    display: flex;
    align-items: center;
  }
  .home-content .box .indicator i{
    height: 20px;
    width: 20px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
  }
  .box .indicator i.down{
    background: #e87d88;
  }
  .home-content .box .indicator .text{
    font-size: 12px;
  }
  .home-content .box .cart{
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
  }
  .home-content .box .cart.two{
     color: #2BD47D;
     background: #C0F2D8;
   }
  .home-content .box .cart.three{
     color: #ffc233;
     background: #ffe8b3;
   }
  .home-content .box .cart.four{
     color: #e05260;
     background: #f7d4d7;
   }
  .home-content .total-order{
    font-size: 20px;
    font-weight: 500;
  }
  .home-content .sales-boxes{
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
  }
  /* TABLE CSS */
  .styled-table {
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 150px;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 60%;
    box-shadow: 0 0 20-px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: rgb(0, 123, 191);
    height: 70px;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
tr:hover {background-color: #dddddd;}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(0, 123, 191);
}
.box1{
  background-color: rgb(0, 123, 191);
  padding: 30px;
 margin-left: 65%;
 margin-top: -400px;
  width: 400px;
  border-radius: 20px;
}

.qr-header h1{
  font-size: 26px;
  text-align: center;
  color: white;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.qr-header input{
  width: 100%;
  margin-block: 12px;
}

.qr-header input, select{
  padding: 8px;
  border-radius: var(--border-radius);
  font-size: 18px;
  outline: none;
  border: 2px solid var(--border-color);
}

.qr-header label{
  color: white;
  font-size: 20px;
}

.qr-header div{
  display: flex;
  justify-content: space-between;
}

.qr-footer{
  display: flex;
  justify-content: center;
}
.qr-footer a{
  background-color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 14px 36px;
  margin-inline: 2px;
  color: rgb(0, 123, 191);
  font-weight: 600;
  border-radius: 20px;
}

.qr-body{
  display: grid;
  place-items: center;
  padding:20px;
}

.qr-body img{
  max-width: 100%;
  max-height: 100%;
  margin-block: 10px;
  padding: 20px;
  border: 0.5px solid var(--border-color);
  border-radius: var(--border-radius);
}

@media screen and (max-width:520px){
  .box{
      width: 80%;
  }
  .qr-footer a{
      padding: 12px;
      font-size: 16px;
  }
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  flex-direction: row;
  flex-flow: wrap;

}

.font{
  height: 375px;
  width: 250px;
  position: relative;
  border-radius: 10px;
}

.top{
  height: 30%;
  width: 100%;
  background-color: rgb(0, 123, 191);
  position: relative;
  z-index: 5;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.bottom{
  height: 70%;
  width: 100%;
  background-color: white;
  position: absolute;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.top img{
  height: 100px;
  width: 100px;
  background-color: #e6ebe0;
  border-radius: 10px;
  position: absolute;
  top:60px;
  left: 75px;
}
.bottom p{
  position: relative;
  top: 60px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  text-emphasis: spacing;
}
.bottom .desi{
  font-size:12px;
  color: grey;
  font-weight: normal;
}
.bottom .no{
  font-size: 15px;
  font-weight: normal;
}
.barcode img
{
  height: 120px;
  width: 120px;
  text-align: center;
  margin: 5px;
}
.barcode{
  text-align: center;
  position: relative;
  top: 70px;
}

.back
{
  height: 375px;
  width: 250px;
  border-radius: 10px;
  background-color: rgb(0, 123, 191);

}
.qr img{
  height: 50px;
  width: 100%;
  margin: 20px;
  background-color: white;
}
.Details {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 25px;
}


.details-info{
  color: white;
  text-align: left;
  padding: 5px;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  line-height: 22px;
}

.logo {
  height: 40px;
  width: 150px;
  padding: 40px;
}

.logo img{
  height: 100%;
  width: 100%;
  color: white ;

}
.padding{
  padding-right: 20px;
}
.ui-w-80 {
  width : 80px !important;
  height: auto;
}

.btn-default {
  border-color: rgba(24, 28, 33, 0.1);
  background  : rgba(0, 0, 0, 0);
  color       : #4E5155;
}

label.btn {
  margin-bottom: 0;
}

.btn-outline-primary {
  border-color: #26B4FF;
  background  : transparent;
  color       : #26B4FF;
}

.btn {
  cursor: pointer;
}

.text-light {
  color: #babbbc !important;
}


.row-bordered {
  overflow: hidden;
}

.account-settings-fileinput {
  position  : absolute;
  visibility: hidden;
  width     : 1px;
  height    : 1px;
  opacity   : 0;
}

.card-body{
  width: 1500px;
  margin-left: 100px;
  margin-top: 25px;
}
.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  max-width: 190px;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #e8e8e8;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
}
