<!DOCTYPE html>
<html>
<head>
    <link href="/stylesheets/css/loginstyle.css" rel="stylesheet">
</head>
<body>
     <form action="login.php" method="post">
     	<h2><img src="/images/img/rcclogo.jpg" width="150" height="150"></h2>
     	<label>Username</label>
     	<input type="text" name="uname" placeholder="Username"><br>

     	<label>Password</label>
     	<input type="password" name="password" placeholder="Password"><br>
     	<button type="submit">Login</button>
     </form>
</body>
</html>